.avatar {
	width: auto;
  height: 500px;
}
.personInfo{
	line-height: 1.428571429;
	width: 60%;
}
.photoAndAbout{
	margin-top: 20px;

}
.workHistory{
	margin-top: 30px;
}


h2.thick {
  font-weight: bold;
}
h3.thick {
  font-weight: bold;
}
