.avatar {
	width: auto;
    height: 500px;
}
.personInfo{
	line-height: 1.428571429;
}
.photoAndAbout{
	margin-top: 20px;

}
#search_zone {
	margin-top: 1%;
}
#search_result {
	margin-top: 1%;
	margin-left: 1%;
	margin-right: 1%;
	margin-bottom: 1%;
}
